<div layout="column" style="height:100%;">
  <div layout="row" flex>

    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

      <div class="logo">
        <img src="assets/images/sectional.jpg">
        <h1 style="margin-bottom:0">Sectional</h1>
        <p layout-padding="" style="padding-top:0; margin-top:0">A test app for getting comfortable with an Angular-Couch environment, to also tie the room together so we can invite friends.</p>
      </div>
      <md-divider></md-divider>

      <md-subheader>Select Remote DB</md-subheader>
      <md-card>
        <md-radio-group ng-model="remote">
          <md-radio-button ng-repeat="r in remoteList" ng-value="r">{{r.label}}</md-radio-button>
        </md-radio-group>
      </md-card>

      <md-subheader>Replicate to and from remote</md-subheader>
      <md-card>
        <md-button ng-click="ctrl.replicateFrom()" class="md-raised md-primary">Replicate From Remote<br/>
          <small></small>
        </md-button>
        <md-button ng-click="ctrl.replicateTo()" ng-show="ctrl.hasDocs();" class="md-raised md-primary">Replicate To
          Remote<br/>
          <small></small>
        </md-button>
      </md-card>

      <div ng-hide="ctrl.hasDocs();">
        <md-subheader>Start with Dummy Data</md-subheader>
        <md-card>
          <md-button ng-click="ctrl.getInitData()">Get Dummy Data</md-button>
          <md-button ng-click="ctrl.bulkDocs()">Bulk Import Docs</md-button>
        </md-card>
      </div>
    </md-sidenav>

    <md-content flex ng-hide="ctrl.hasDocs();" ng-cloak>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="d in ctrl.docs">
          <div class="md-list-item-text">
            <pre>{{d|json}}</pre>
          </div>
          <md-divider ng-if="!$last"></md-divider>
        </md-list-item>
      </md-list>
    </md-content>


    <md-content flex ng-show="ctrl.hasDocs();">

      <md-toolbar>
        <div class="md-toolbar-tools">IndexedDB Data Loaded</div>
      </md-toolbar>
      <md-subheader> {{ctrl.remoteDB}}</md-subheader>

      <md-list>

        <entity-item ng-repeat-start="d in ctrl.alldocs" doc="d.doc" show="show"></entity-item>
        <md-divider ng-if="!$last" ng-repeat-end></md-divider>

      </md-list>


    </md-content>
  </div>
</div>
