{
    "development": {
        "version": "0.0.1",
        "ENV": {
            "couchDB" : "http://0.0.0.0:5984/",
            "drupalDB" : "http://replicator:replicator@localhost/relaxed/",
            "api": "http://localhost/"
        }
    },
    "production": {
        "version": "0.0.1",
        "ENV": {
            "couchDB" : "http://0.0.0.0:5984/",
            "drupalDB" : "http://replicator:replicator@localhost/relaxed/",
            "api": "http://localhost/"
        }
    }
}
